
<%= form_with(model: pet) do |form| %>
  <% if pet.errors.any? %>
  <ul>
    <% pet.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
  <% end %>
  <br>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <br>
  <%= form.label :specie %>
  <%= form.select :specie, ['Dog', 'Cat'] %>
  <br>
  <%= form.label :breed %>
  <%= form.text_field :breed %>
  <br>
  <%= form.label :birthdate %>
  <%= form.date_field :birthdate %>
  <br>
  <%= form.label :age %>
  <%= form.number_field :age %>
  <br>
  <%= form.label :gender, 'Male', value: true %>
  <%= form.radio_button :gender, true, checked: true, value: true %>
  <%= form.label :gender, 'Female', value: false %>
  <%= form.radio_button :gender, false, value: false %>
  <br>
  <%= form.label :vaccinated %>
  <%= form.check_box :vaccinated %>
  <br>

  <% if pet.images? %>
    <% pet.images.each do |img| %>
    <%= image_tag img.thumb.public_id %>
    <%= label_tag :remove_images do %>
      Remove image
      <%= form.check_box :remove_images %>
    <% end %>
    <%= cl_image_tag(img.thumb.public_id) %>
    <% end %>
  <% end %>
  <br>
  <%= form.label :images, "Upload Photos" %>
  <br>
  <% if Rails.env.production? %>
    <%= form.cl_image_upload :images, multiple: true %>
    <%= form.hidden_field :images_cache %>
  <% else %>
    <% pet.images.each do |image| %>
      <%= hidden_field :pet, :images, multiple: true, value: image.identifier %>
    <% end %>
    <%= form.file_field :images, multiple: true %>
  <% end %>
  <br>
  <%= form.submit 'save' %>
<% end %>