
<body class = "bg-blue-200">
<div class="lg:grid grid-cols-2 ">
<%=render 'sidebar'%>

  <div class="flex flex-col justify-start my-auto overflow-auto  scrollbar-hide ">
  
    <div class="tphoto rounded-lg">
    <!-- Slider main container -->
<div data-controller="carousel" class="swiper-container h-96 w-full  bg-white rounded-t-lg"
data-carousel-options-value='{
    "pagination": { "el": ".swiper-pagination", 
                    "dynamicBullets": "true" },
    "navigation": { "nextEl": ".swiper-button-next", 
                    "prevEl": ".swiper-button-prev"}}'>

  <!-- Pagination (... or 1/10 or progress bar) -->
  <div class="swiper-pagination"></div>
  <!-- Navigation buttons (< >) -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
      <% if @pet.images? %>
  <% @pet.images.each do |img| %>
    <%=image_tag(img.thumb.url, alt: "Image",  :class => "object-fill rounded-lg rounded-b-none swiper-slide") %>
  <% end %>
<% end %>
  </div>
  
</div>
<div class = "bg-white border rounded-b-lg  rounded-t-none  ">
<div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer text-center">
  <%=link_to "Edit Pet Profile", edit_pet_path(@pet)%>
</div>
      <div class="flex justify-between">
        <div class="text-xl float-left ml-2"><%=@pet.name%> 
        <span class="font-light ml-5"><%=@pet.age%></span>
      </div> 
    </div>
    <span class ="ml-2 text-gray-400">3 km</span>
    <p class = "mt-4" >
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
    </p>
 </div>
    
    </div>
  </div>
  </div>
</body>

