<p>Name: <%= @pet.name %></p>
<p>Breed: <%= @pet.breed %></p>
<p>Specie: <%= @pet.specie %></p>
<p>Birthdate: <%= @pet.birthdate %></p>
<p>Age: <%= @pet.age %></p>
<p>Gender: <%= @pet.gender %></p>
<p>Vaccinated: <%= @pet.vaccinated %></p>
<br>
<% if @pet.images? %>
  <ul>
  <% @pet.images.each do |img| %>
    <li><%= link_to(image_tag(img.thumb.url, alt: "Image"), img.url, target: '_blank') %></li>
  <% end %>
  </ul>
<% end %>
<br>
<% unless @matches.empty? %>
      <% @matches.each do |f|%>
            <%= link_to user_path(f) do %>
              <%= f.name %>
            <% end %>
      <% end %>
<% end %>

