<p>Name: <%= @pet.name %></p>
<p>Breed: <%= @pet.breed %></p>
<p>Specie: <%= @pet.specie %></p>
<p>Birthdate: <%= @pet.birthdate %></p>
<p>Age: <%= @pet.age %></p>
<p>Gender: <%= @pet.gender %></p>
<p>Vaccinated: <%= @pet.vaccinated %></p>
<br>
<% if @pet.images? %>
  <ul>
  <% @pet.images.each do |img| %>
    <% if Rails.env.production? %>
      <li><%= cl_image_tag(img.thumb.public_id, alt: "Image") %></li>
    <% else %>
      <li><%= link_to(image_tag(img.thumb.url.to_s), img.url, alt: "Image") %></li>
    <% end %>
  <% end %>
  </ul>
<% end %>
<br>
<%= link_to 'back', pets_path %>

