<p>Name: <%= @pet.name %></p>
<p>Breed: <%= @pet.breed %></p>
<p>Specie: <%= @pet.specie %></p>
<p>Birthdate: <%= @pet.birthdate %></p>
<p>Age: <%= @pet.age %></p>
<p>Gender: <%= @pet.gender %></p>
<p>Vaccinated: <%= @pet.vaccinated %></p>
<br>
<ul>
<% @pet.images.each do |img| %>
  <% if Rails.env.production? %>
    <li><%= link_to cl_image_tag(img.thumbnail.url, alt: "Image") %></li>
  <% else %>
    <li><%= link_to(image_tag(img.thumbnail.url, alt: "Image" ), img.url, target: '_blank') %></li>
  <% end %>
<% end %>
</ul>
<br>
<%= link_to 'back', pets_path %>

