
<body class = "bg-blue-200">
<div class="min-h-screen md:flex fixed flex-wrap">
  <!-- sidebar -->
  <div class="sidebar lg:w-full bg-white shadow-2xl text-blue-100 transform -translate-x-full md:relative md:translate-x-0 transition duration-200 ease-in-out">
 <div  class="block p-6 mr-12 text-blue font-white bg-gradient-to-r from-green-400 to-blue-500 text-md font-serif"><%=@pet.name.capitalize%> ||
 <span class = "float-right hover:text-red-400"><%=link_to "back to Profile", @pet%></span>
 </div>
  <div class="text-black font-white bg-white shadow-2xl ">
        <%= link_to "Likes", pet_matches_path(@pet), :class => "hover:text-blue-400 font-bold lg:p-3 py-2 px-0 block text-center text-3xl" %>
        <%= link_to "Requests", pet_matches_path(@pet), :class => "hover:text-blue-400 font-bold lg:p-3 py-2 px-0 block text-center text-3xl" %>
  </div>
  <br/>
  <br/>
  </div>
</div>
<%= flash[:danger] %>
  <% @pets.map do |pet| %>
        <% if current_user.pets.find(params[:pet_id]).id != pet.id && current_user.id != pet.user_id %>
          <% unless possible_match?(pet) %>
 <div class = "relative ">
  <div class="absolute bg-white top-1/2 left-1/2 mt-4">
    <div class="tphoto rounded-lg">
    <!-- Slider main container -->
<div data-controller="carousel" class="swiper-container h-96 w-full bg-white rounded-t-lg"
data-carousel-options-value='{
    "pagination": { "el": ".swiper-pagination", 
                    "dynamicBullets": "true" },
    "navigation": { "nextEl": ".swiper-button-next", 
                    "prevEl": ".swiper-button-prev"}}'>

  <!-- Pagination (... or 1/10 or progress bar) -->
  <div class="swiper-pagination"></div>
  <!-- Navigation buttons (< >) -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
      <% if pet.images? %>
  <% pet.images.each do |img| %>
    <%=image_tag(img.thumb.url, alt: "Image",  :class => "object-fill rounded-lg rounded-b-none swiper-slide") %>
  <% end %>
<% end %>
  </div>
</div>
<div class = "bg-white border rounded-b-lg rounded-t-none">
      <div class="flex justify-between">
        <div class="text-xl float-left ml-2"><%=pet.name.capitalize()%> 
        <span class="font-light ml-4"><%=pet.age%></span>
      </div> 
    </div>
    <span class ="ml-2 text-gray-400 font-bold user-location text-lg"  >

    </span>
     <%= link_to pet_match_pet_matches_path(:id => pet.id) do %>
     <%= flash[:success] %>
     <div class="flex items-center justify-center w-full h-full cursor-pointer ">
      <div class="bg-white relative text-6xl  text-center">
       <svg xmlns="http://www.w3.org/2000/svg" class="h-32 w-32 " fill="red" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
</svg>
 <% end %>
      </div>
      <div class="ti rounded-full relative hidden">
        <i class="fa fa-info" aria-hidden="true"></i>
      </div>
      <div class="bg-white relative text-6xl">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-32 w-32" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
</svg>
      </div>
    </div>
  </div>
    <div  data-controller="toggle">
    <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer text-center" data-action ="click->toggle#toggle" >
        Read More
</div>
<div class = "hidden bg-white"data-toggle-target= "toggleable" >
    <p class = "text-center text-justify" > <br/>
      <%if @pet.vaccinated == true%>
      <div class ="ml-2 text-gray-400 text-center font-bold">Hello, I am Vaccinated! 😄</div>
      <%else%>
      <div class ="ml-2 text-gray-400 text-center font-bold">Hello, I am not yet Vaccinated 😥</div>
    <%end%> 
    <div class = "text-gray-400 text-center font-bold">
      I came from the <%=pet.breed%> Family!
    </div>
  
    <div class = "text-2xl text-center">About me</div>
    <p class ="text-center">
    <%=pet.description%>
    </p>
      <div class = "text-gray-400 text-center font-bold">
     My Owner is <%=pet.user.username%> 
    </div>
      <div class = "text-gray-400 text-center font-bold pb-5">
     Contact my owner at <%=pet.user.email%> 
    </div>
    <div>
    </div>
    </p>
    </div>
 </div>
    </div>
    </div>
  </div>
  <% end %>
        <% end %>
        <% end %>
        
</body>


